- @user ||= current_user
p follow
= link_to @user.following.count, following_user_path(@user)
p follower
div#number_of_followers
  = link_to @user.followers.count, followers_user_path(@user)
<br>
= @user.tweets.count
p tweets!
