- provide :title, "タグ編集"

h3 ##{@hashtag.hashname}
input#address type="textbox" value="#{@hashtag.hashname}"
input type="button" value="検索" onclick="codeAddress()"
div#map1 data-turbolinks='false'
css:
  #map1 {
    height: 400px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
javascript:
  let map
  let latlngDis = document.getElementById('latlngDisplay')

  function initMap() {
    defaultAddress = { lat: 35.671082, lng: 139.762164 };

    map = new google.maps.Map(document.getElementById("map1"), {
      zoom: 15,
      center: defaultAddress,
    });

    marker = new google.maps.Marker({
      position: defaultAddress,
      map: map,
    });
  }

  function codeAddress() {
    let inputAddress = document.getElementById("address").value;

    let geocoder = new google.maps.Geocoder()

    geocoder.geocode({'address':inputAddress}, function(results, status){
      if (status == 'OK') {
        map.setCenter(results[0].geometry.location);
        let marker = new google.maps.Marker({
          map: map,
          position: results[0].geometry.location,
        });
        latlngDis.innerHTML = results[0].geometry.location;
        document.getElementById('latlng').value = results[0].geometry.location;
      } else {
        alert('該当する結果はありませんでした');
      }
    });
  }

<script async defer src="https://maps.googleapis.com/maps/api/js?key=#{ENV['GOOGLE_MAP_API_KEY']}&callback=initMap"></script>

// コントローラーに緯度軽度を渡す
= form_with url: hashtag_path, method: :patch, local: true do |h|
  = h.hidden_field :latlng, value: ""
  = h.submit
